h1{
    font-style: normal;
    font-weight: bold;
    color: #003653;
}
h3{
    font-weight: lighter;
    font-style: italic;
    color:  #006298 ;
}
h2{
    color:  #006298 ;
}
li{
    color: #006298;
}