body{
    background-color: aliceblue;
}

h1{
    font-style: normal;
    font-weight: bold;
    color: #003653;
}
h3{
    font-weight: lighter;
    font-style: italic;
    color:  #006298 ;
}
h2{
    color:  #006298 ;
}
li{
    color: #006298;
}

.navBar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


#resize{
    height: 260px;
    width: 280px;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}
